body{
    margin: 0;
    padding: 0;
    font-family: 'arial';
    font-weight: 400;
    background: #e8ebf1;
}
img{border:none;margin: auto;}
a{outline: none; text-decoration: none;}
p{
    margin: 15px 0;
    color: #808080;
    font-size: 18px;
    line-height: 130%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.wrapper{
    width: 1000px;
    position: relative;
    margin: auto;
}

/*header*/


.logo{
    margin-top: 50px;
    display: inline-block;
    margin-bottom: 50px;

}

.logo:hover{
    opacity: 0.5;
    transition: 0.5s;
}

.header-menu{
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: 5;
}

.header-menu li{
    float: left;
    position: relative;
}

.header-menu a{
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    display: block;
    padding: 5px 20px;
    margin: 0px;
}

.header-menu ul{
    display: none;
    position: absolute;

}

.header-menu ul:hover{
    display: block;
}

.header-menu ul li{
    background: #fff;
    display: block;
    z-index: 5;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 195px;
    border-bottom: 1px solid #e7e7e7;
}

.header-menu>li:hover>a{
    color: #2aacc8;
    border-top:5px solid #2aacc8;
    padding-top: 0px;
    background-color: #fff;
}


.header-menu li:hover ul{
    display: block;
}

.header-menu-arrow{
    background: url(img/header-arrow.png) no-repeat;
    background-position: 74px 12px;
    padding-right: 5px;
}

.header-menu-arrow:hover>a{
    background: url(img/header-arrow.png) no-repeat;
    background-position: 74px 7px;
    color: #2aacc8;
}

.header-menu ul{
    
    border-bottom:5px solid #2aacc8;
}

/*.header-menu li li:hover{
    padding-bottom: 0px;
    padding-top: 0px;
}*/

.header-menu li li a:hover{
    color: #2aacc8;
}

.slid{
    background: #81e4ed;
    padding: 30px 0px;
}

/*section*/

.middle{
    display: inline-block;
    width: 220px;
    margin-top: 40px;
    margin-left: 35px;
    padding-bottom: 35px;

}

.middle>img{
    float: left;
}

.middle h4{
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
    padding: 0px 0px 0px 60px;
    margin-top: 11px;
    margin-bottom: 29px;
    font-weight: 700;
}

.middle p{
    color: #363636;
    font-size: 13px;
}

.more{
    color: #51b5ce;
    font-size: 13px;
    background: url(img/arrow.png) no-repeat;
    background-position: 0px 8px;
    padding: 5px 5px 5px 13px;
}

.more:hover{
    transition: 0.5s;
    color: #de5836;
}

.middle-margin{
    margin-left: -35px;
}

.bg{
    background-color: #fff;
    padding-bottom: 50px;
}

.works h4{
    font-size: 15px;
    font-weight: 700;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    background: url(img/click.png) no-repeat;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 7px;
}

.img-position{
    position: absolute;
    right: 0px;
    top: 22px;
}
.works-border>img{
    display: inline-block;
    margin-left: 35px;
}

.works-border img:first-child{
    margin-left: 0px;
}

.works-border{
        border-bottom: 1px solid #dfe1e5;
    border-top: 1px solid #dfe1e5;
    padding: 30px 0px 30px 0px;
}




/*testimonial*/

.testimonial{
    width: 490px;
    padding-right: 75px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: top;
}

.testimonial img{
    float: left;
    margin-top: 15px;
}

.testimonial h4{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    padding-left: 40px;

}

.testimonial p{
    color: #363636;
    font-size: 14px;
}

.testimonial p:last-child{
    font-weight: 800;
    font-style: italic;
}


/*clients*/

.clients{
    display: inline-block;
    width: 505px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;
    vertical-align: top;
}

.clients h4{
    background: url(img/peaple.png) no-repeat;
    padding-left: 40px;
    padding-top: 4px;
    margin-top: 13px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    padding-left: 40px;
    display: block;
}

.clients img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;  
}

.clients img:hover{
    transition: 0.5s;
    opacity: 0.5;  
}

.clients a{
    width: 160px;
    height: 100px;
    display: inline-block;
    border: 1px solid #e8ebf1;
    box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.5) inset;
    text-align: center;  
}

.clients a:before{
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}


/*text-buttom*/

.text-button{
    background-color: #e8fcfe;
    border: 1px solid #81e4ed;
    margin-top: 50px;
}

.text-button>p{
    color: #363636;
    width: 610px;
    display: inline-block;
    padding: 20px;

}

button{
    background: -webkit-linear-gradient(bottom, #39b5ce, #87ebf4);
    background: -o-linear-gradient(bottom, #39b5ce, #87ebf4);
    background: linear-gradient(to top, #39b5ce, #87ebf4);
    border: 1px solid #2aacc8;
    border-radius: 5px;
    vertical-align: top;
    margin-top: 5%;
    margin-left: 5%;
}

button p{
    background: url(img/buttom.png) no-repeat;
    padding: 5px 0px 5px 48px;
    margin: 10px 10px 10px 15px;
    text-transform: uppercase;
    color: #000;

}

button:focus{
    border: none;
    outline: inherit;
}


/*footer*/

footer{
    background: #e8ebf1;
}

footer p{
    font-size: 14px;
    color: #363636;
}

#footer h5{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.about-us{
    display: inline-block;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 60px;
    vertical-align: top;
}

.explore-browser{
    display: inline-block;
    width: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
    vertical-align: top;
}

.explore-browser li{
    display: block;
    margin-bottom: 15px;
    margin-top: 0px;   
}

.explore-browser a{
    font-size: 14px;
    color: #363636;
}

.explore-browser a:hover{
    transition: 0.5s;
    border-bottom: 2px solid #fff;
}

.contact-us{
    display: inline-block;
    width: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 80px;
    vertical-align: top;
}

.with-us{
    display: inline-block;
    width: 182px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}

.with-us a{
    margin-left: 13px;
    margin-top: 10px;
    display: inline-block;
} 

.with-us img:hover{
    transition: 0.5s;
    opacity: 0.5;
}

.footer-img-margin{
    margin-left: -13px;
}

.footer-logo{
    padding-bottom: 30px;
}

.footer-logo p{
    color: #363636;
    font-size: 13px;
    width: 650px;
}

.footer-logo a{
    position: absolute;
    right: 0px;
    bottom: 30px;
}

.footer-logo a:hover{
    transition: 0.5s;
    opacity: 0.7;
}



